# Re-processamento da Base de Dados

### Importação das Bibliotecas:

In [21]:
import pandas as pd
import numpy as np
import seaborn as sns
from pandas import factorize
import re
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

-----------------------------

### Importação dos Datasets:

In [22]:
df = pd.DataFrame()
df = pd.read_csv('../../data/trabalho2_dados10.csv')
df

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
0,5124,1,Ativa,3941,0.411765,3,3,1.9541,2.0332,2.0332,1,1.207921,101,0.059406,2,2.404375e+08,77.190924
1,1313,0,Ativa,97,0.625000,4,3,2.3891,2.5598,2.5598,1,-0.048218,2385,0.017191,10,2.404375e+08,9.523631
2,13856,1,Ativa,2772,0.705882,3,3,2.102,2.102,2.102,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
3,2380,1,Ativa,616,0.645161,3,3,2.7588,2.7945,2.7945,1,0.089311,2844,0.441280,6,8.838117e+08,0.060665
4,21685,1,Ativa,161,0.400000,S/C,S/C,S/D,S/D,S/D,0,0.000000,0,0.000000,-3,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,21215,0,Ativa,516,1.000000,4,S/C,S/D,S/D,S/D,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
2173,1465,1,Ativa,7042,0.370370,3,3,2.1593,2.4112,2.4112,1,0.524721,1254,0.614035,13,2.404375e+08,6.803505
2174,638,0,Ativa,885,0.600000,4,S/C,2.5174,2.6176,2.5861,1,-0.038257,1882,0.111052,1,9.297316e+06,0.662687
2175,13897,1,Ativa,2506,0.400000,3,3,2.3561,2.2901,0,1,-0.047619,357,0.000000,2,1.210978e+06,-0.000753
2176,667,0,Ativa,7220,0.379310,5,S/C,1.7053,2.2072,1.8765,1,0.868035,341,0.272727,8,-1.043759e+06,0.000000

---------------------------

### Tratando Dados Categóricos:

In [23]:
df['Situacao'].loc[df['Situacao'] == 'Ativa'] = 1
df['Situacao'].loc[df['Situacao'] == 'Extinta'] = 0
df['Situacao'] = df['Situacao'].astype('int')
df

C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\964496517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Situacao'].loc[df['Situacao'] == 'Ativa'] = 1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\964496517.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Situacao'].loc[df['Situacao'] == 'Extinta'] = 0

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
0,5124,1,1,3941,0.411765,3,3,1.9541,2.0332,2.0332,1,1.207921,101,0.059406,2,2.404375e+08,77.190924
1,1313,0,1,97,0.625000,4,3,2.3891,2.5598,2.5598,1,-0.048218,2385,0.017191,10,2.404375e+08,9.523631
2,13856,1,1,2772,0.705882,3,3,2.102,2.102,2.102,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
3,2380,1,1,616,0.645161,3,3,2.7588,2.7945,2.7945,1,0.089311,2844,0.441280,6,8.838117e+08,0.060665
4,21685,1,1,161,0.400000,S/C,S/C,S/D,S/D,S/D,0,0.000000,0,0.000000,-3,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2172,21215,0,1,516,1.000000,4,S/C,S/D,S/D,S/D,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
2173,1465,1,1,7042,0.370370,3,3,2.1593,2.4112,2.4112,1,0.524721,1254,0.614035,13,2.404375e+08,6.803505
2174,638,0,1,885,0.600000,4,S/C,2.5174,2.6176,2.5861,1,-0.038257,1882,0.111052,1,9.297316e+06,0.662687
2175,13897,1,1,2506,0.400000,3,3,2.3561,2.2901,0,1,-0.047619,357,0.000000,2,1.210978e+06,-0.000753
2176,667,0,1,7220,0.379310,5,S/C,1.7053,2.2072,1.8765,1,0.868035,341,0.272727,8,-1.043759e+06,0.000000

------------------------------

### Tratando Dados Faltantes:

In [24]:
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error, r2_score

In [25]:
df.replace('S/D', np.nan, inplace=True)
df.replace('S/C', np.nan, inplace=True)

In [26]:
df_yes_nan = df.loc[df.isna().any(axis=1)]
df_not_nan = df.dropna(axis=0)

target_list = ['CI N', 'CI V', 'IGC_N', 'IGC_M', 'IGC_V']
independent_list = ['Natureza', 'Situacao', 'DIAS', '%', 'EAD_17', 'variacao mat', 'mat_T 2017',
                    '% FIES', 'CURSOS', 'saldo 2017', 'Variacao 17-16']
error_list = []
score_list = []

for i in range(5):
    target_col = target_list[i]
    X_train, X_test, y_train, y_test = train_test_split(df_not_nan[independent_list], df_not_nan[target_col], test_size=0.2, random_state=42)

    model = LinearRegression()
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)
    y_input = model.predict(df_yes_nan[independent_list])
    df_yes_nan[target_col] = y_input

    mse = mean_squared_error(y_test, y_pred)
    r2 = r2_score(y_test, y_pred)

    error_list.append(mse)
    score_list.append(r2)

    if (i < 2):
        df_yes_nan[target_col] = df_yes_nan[target_col].astype(int)

C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = y_input
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = df_yes_nan[target_col].astype(int)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = y_input
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = df_yes_nan[target_col].astype(int)
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = y_input
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = y_input
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\503241570.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_yes_nan[target_col] = y_input

In [27]:
df = pd.concat([df_yes_nan, df_not_nan])
df

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
4,21685,1,1,161,0.400000,2,3,1.755285,1.817117,1.780265,0,0.000000,0,0.000000,-3,0.000000e+00,0.000000
5,17289,1,1,1328,0.800000,3,3,2.753134,2.685959,2.62268,1,-0.333333,51,0.078431,1,2.431143e+05,0.205394
6,977,0,1,248,0.153846,2,3,1.558699,1.606671,1.628411,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
9,913,0,1,8796,0.466667,3,3,2.357785,2.266714,2.276297,1,-0.054737,475,0.000000,3,5.186206e+04,0.000000
11,21399,1,1,460,0.176471,2,3,1.546188,1.591537,1.563549,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2168,12869,1,1,2736,0.687500,3,3,1.734,1.734,3.769,1,-0.066502,406,0.310345,5,5.516691e+05,0.412949
2169,4079,1,1,4157,0.285714,3,5,1.09,1.09,1.1340463421729021,1,0.164671,334,0.008982,2,3.628070e+05,0.189802
2170,346,0,1,17868,0.435897,3,3,2.2699,2.2884,2.3091,1,0.220386,1089,0.171717,13,4.127310e+05,-0.963290
2173,1465,1,1,7042,0.370370,3,3,2.1593,2.4112,2.4112,1,0.524721,1254,0.614035,13,2.404375e+08,6.803505
2175,13897,1,1,2506,0.400000,3,3,2.3561,2.2901,0,1,-0.047619,357,0.000000,2,1.210978e+06,-0.000753

--------------------------------

### Tratamento de Dados Inconsistentes:

* Tranformando tipos dos atributos:

In [28]:
df.dtypes

Codigo da IES       int64
Natureza            int64
Situacao            int32
DIAS                int64
%                 float64
CI N               object
CI V               object
IGC_N              object
IGC_M              object
IGC_V              object
EAD_17              int64
variacao mat      float64
mat_T 2017          int64
% FIES            float64
CURSOS              int64
saldo 2017        float64
Variacao 17-16    float64
dtype: object

In [29]:
target_list = ['CI N', 'CI V', 'IGC_N', 'IGC_M', 'IGC_V']

for i in range(5):
    if i < 2:
        df[target_list[i]] = df[target_list[i]].astype('int64')
    else:
        df[target_list[i]] = df[target_list[i]].astype('float64')

* Tratando dados menores que zero:

In [30]:
counts = (df < 0).sum(axis=0)
counts

Codigo da IES       0
Natureza            0
Situacao            0
DIAS                0
%                   0
CI N                0
CI V                0
IGC_N               1
IGC_M               3
IGC_V               0
EAD_17              0
variacao mat      657
mat_T 2017          0
% FIES              0
CURSOS             39
saldo 2017        237
Variacao 17-16    598
dtype: int64

In [31]:
target_list = ['IGC_N', 'IGC_M', 'CURSOS']
for i in range(3):
    df[target_list[i]].loc[df[target_list[i]] < 0] = df[target_list[i]].abs()

C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3997881877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] < 0] = df[target_list[i]].abs()
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3997881877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] < 0] = df[target_list[i]].abs()
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3997881877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] < 0] = df[target_list[i]].abs()

* Tratando notas maiores que 5:

In [34]:
counts = (df > 5).sum(axis=0)
counts

Codigo da IES     2177
Natureza             0
Situacao             0
DIAS              2177
%                    0
CI N                 0
CI V                 0
IGC_N                0
IGC_M                0
IGC_V                0
EAD_17               0
variacao mat         4
mat_T 2017        1448
% FIES               0
CURSOS             681
saldo 2017        1208
Variacao 17-16     123
dtype: int64

In [33]:
target_list = ['CI N', 'CI V', 'IGC_N', 'IGC_M', 'IGC_V']
for i in range(5):
    df[target_list[i]].loc[df[target_list[i]] > 5] = 5

C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\685724877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] > 5] = 5
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\685724877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] > 5] = 5
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\685724877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] > 5] = 5
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\685724877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] > 5] = 5
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\685724877.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] > 5] = 5

* Tratando notas == 0:

In [37]:
counts = (df == 0).sum(axis=0)
counts

Codigo da IES        0
Natureza           881
Situacao           248
DIAS                 0
%                  195
CI N                 0
CI V                 0
IGC_N                0
IGC_M                0
IGC_V                0
EAD_17             719
variacao mat       819
mat_T 2017         719
% FIES            1121
CURSOS             653
saldo 2017         732
Variacao 17-16     886
dtype: int64

In [36]:
target_list = ['CI N', 'CI V', 'IGC_N', 'IGC_M', 'IGC_V']
for i in range(5):
    df[target_list[i]].loc[df[target_list[i]] == 0] = 1

C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3534408286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] == 0] = 1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3534408286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] == 0] = 1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3534408286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] == 0] = 1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3534408286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] == 0] = 1
C:\Users\Daniel\AppData\Local\Temp\ipykernel_13500\3534408286.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[target_list[i]].loc[df[target_list[i]] == 0] = 1

-------------------------

### Normalizando os Dados:

In [40]:
df

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
4,21685,1,1,161,0.400000,2,3,1.755285,1.817117,1.780265,0,0.000000,0,0.000000,3,0.000000e+00,0.000000
5,17289,1,1,1328,0.800000,3,3,2.753134,2.685959,2.622680,1,-0.333333,51,0.078431,1,2.431143e+05,0.205394
6,977,0,1,248,0.153846,2,3,1.558699,1.606671,1.628411,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
9,913,0,1,8796,0.466667,3,3,2.357785,2.266714,2.276297,1,-0.054737,475,0.000000,3,5.186206e+04,0.000000
11,21399,1,1,460,0.176471,2,3,1.546188,1.591537,1.563549,0,0.000000,0,0.000000,0,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2168,12869,1,1,2736,0.687500,3,3,1.734000,1.734000,3.769000,1,-0.066502,406,0.310345,5,5.516691e+05,0.412949
2169,4079,1,1,4157,0.285714,3,5,1.090000,1.090000,1.134046,1,0.164671,334,0.008982,2,3.628070e+05,0.189802
2170,346,0,1,17868,0.435897,3,3,2.269900,2.288400,2.309100,1,0.220386,1089,0.171717,13,4.127310e+05,-0.963290
2173,1465,1,1,7042,0.370370,3,3,2.159300,2.411200,2.411200,1,0.524721,1254,0.614035,13,2.404375e+08,6.803505
2175,13897,1,1,2506,0.400000,3,3,2.356100,2.290100,1.000000,1,-0.047619,357,0.000000,2,1.210978e+06,-0.000753

In [41]:
target_list = ['DIAS', '%',
               'mat_T 2017', '% FIES', 'CURSOS']

scaler = MinMaxScaler(feature_range=(0,1))

df_scaled_1 = scaler.fit_transform(df[target_list])
df_scaled_1 = pd.DataFrame(df_scaled_1, columns = [target_list])

df[target_list] = df_scaled_1[target_list]

df

,Codigo da IES,Natureza,Situacao,DIAS,%,CI N,CI V,IGC_N,IGC_M,IGC_V,EAD_17,variacao mat,mat_T 2017,% FIES,CURSOS,saldo 2017,Variacao 17-16
4,21685,1,1,0.015056,0.176471,2,3,1.755285,1.817117,1.780265,0,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
5,17289,1,1,0.014508,0.500000,3,3,2.753134,2.685959,2.622680,1,-0.333333,0.000000,0.000000,0.000000,2.431143e+05,0.205394
6,977,0,1,0.000650,0.600000,2,3,1.558699,1.606671,1.628411,0,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
9,913,0,1,0.196441,0.375000,3,3,2.357785,2.266714,2.276297,1,-0.054737,0.000000,0.000000,0.000534,5.186206e+04,0.000000
11,21399,1,1,0.047802,0.733333,2,3,1.546188,1.591537,1.563549,0,0.000000,0.000587,0.124307,0.002671,0.000000e+00,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2168,12869,1,1,0.064568,0.467742,3,3,1.734000,1.734000,3.769000,1,-0.066502,0.002566,0.274694,0.004274,5.516691e+05,0.412949
2169,4079,1,1,0.001711,0.545455,3,5,1.090000,1.090000,1.134046,1,0.164671,0.000268,0.070579,0.000534,3.628070e+05,0.189802
2170,346,0,1,0.029153,0.697674,3,3,2.269900,2.288400,2.309100,1,0.220386,0.028874,0.281274,0.030983,4.127310e+05,-0.963290
2173,1465,1,1,0.141557,0.285714,3,3,2.159300,2.411200,2.411200,1,0.524721,0.000895,0.009056,0.001068,2.404375e+08,6.803505
2175,13897,1,1,0.240274,0.370370,3,3,2.356100,2.290100,1.000000,1,-0.047619,0.003359,0.619110,0.006944,1.210978e+06,-0.000753

----------------------------

### Salvando Dataset:

In [42]:
df.to_csv('../../data/dataset_new_with_outliers.csv', index=False)